<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/styles7.css">
  </head>
  <body>
    <div class=" div-1 container-fluid">
      <h1 > yoga journal </h1>
      <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
      <p><strong><em>Namaste</em></strong></p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav offset-md-3">
          <li class="nav-item ">
            <a class="nav-link" href="/HOME"><span>
                <h3>HOME</h3>
              </span> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ABOUT_US"><span>
                <h3>ABOUT US</h3>
              </span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/HISTORY"><span>
                <h3>HISTORY</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/POSES"><span>
                <h3>POSES</h3>
              </span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/MEDETATION"><span>
                <h3>MEDITATION</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/THERAPIES"><span>
                <h3>THERAPIES</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/LIFE_HOPE"><span>
                <h3>LIFE & HOPE</h3>
              </span></a>
          </li>
        </ul>

      </div>
    </nav>
    <div class="container-fluid">
      <hr>
      <h1 class="ha">history</h1>
        <p class="pa1"> people without the knowledge of their past history, origin, and culture is like a tree without roots.” – Marcus Garvey</p>
      <hr>
    </div>

    <div class="div-4 container-fluid">
      <h1 class="ha1">What is yoga?</h1>
      <p class="pa1">Today everyone knows what yoga is but their understanding is mostly limited to physical postures, known as Asanas. But does yoga means physical poses? Yoga is a word from Sanskrit language which means join, 2 or more things are needed to join. And when 2 or more objects are joined, then it becomes one object. There is connection and harmony between 2 objects which have become one. So yoga is all about oneness, experience of oneness, feeling of harmony.</p>
<p class="pa1">Approximately 30 million Americans now practice yoga, and there are tens of thousands of yoga studios in the U.S. alone. Yoga is clearly an ever-evolving practice that has taken our modern world by storm.</p>
    </div>

    <div class="  container-fluid">
      <img src="assets/images/Slide7.png" alt="">
    </div>


    <div class="div-3 container-fluid">
      <h1 class="ha1">beginning</h1>
      <p class="pa1">The practice of Yoga was started during the Indus-Sarasvati civilization in Northern India over 5,000 years ago. It was first mentioned in Rig Veda, a collection of texts that consisted of rituals, mantras, and songs which was mainly used by Brahmans, the Vedic priests. Yoga was slowly developed by Brahmans who eventually documented their practices and beliefs in the Upanishads that has over 200 scriptures.

Yoga in Vedas means a yoke. In some early writings, Yoga was mainly used in describing a warrior dying and transcending into the heavens while at the back of his chariot to the gods and the higher powers of being.

During the Vedic times, Vedic priests were generally self-disciplined and avoided any forms of indulgence instead; they performed sacrifices which were known as yajna and used poses that most researchers believe are the precursor of the kind of Yoga poses we use today in the modern world.</p>
    </div>


    <div class="div-3 container-fluid">
      <h1 class="ha1">spread of yoga</h1>
      <p class="pa1">In the 3rd Century BCE, the word “yoga” became common in other religions like Jain, Hindu, and Buddhist writings. In Mahayana Buddhism, the practice of yoga for both spiritual and meditative use was known as Yogachara which consisted of eight significant steps of meditation called “insight”.

In the 5th century, yoga was meant for meditation and religious use, but not as a form of workout. At around the same time, the concept became even more established among the Jains, Buddhists, and Hindus. The first versions of yoga were meant for spiritual practices and revolved around several core values.

The first core value analyzed an individual’s perception and cognitive state while understanding the cause of suffering and eventually using meditation to solve the issue. The second core value focused on boosting consciousness, and the third was used as a way of achieving transcendence. The fourth value was full of mystery because it used Yoga to penetrate into other people’s bodies and act supernaturally.

Yoga later became widely valued because of the Indian nationalist movement as a way of building up pride and cultural identity. Surprisingly, the practice of Yoga was widely promoted by powerful families, institutions, and activities until India attained its independence in 1947.</p>
    </div>

    <div class="  container-fluid">
      <img src="assets/images/img-22.jpg" alt="">
    </div>

    <div class="div-4 container-fluid">
      <h1 class="ha1">importance of yoga in modern life</h1>
      <p class="pa1">The modern life tempts us with comfort. And to make our life more comfortable and convenient we pay for it with obesity, hypertension and cardiac problems. Although we have hi-tech medical facilities, we are still leading a stressful, unhealthy and unstable life. In this situation, yoga can bring peace to our body, mind, and soul and add more value to our life. The importance of yoga in modern life is abundant.

Yoga teaches us the knowledge of how to lead a healthy living. It improves our concentration, creativity and sharpens our memory. To maintain a positive physical and mental health, yoga is a must.

In the middle of hustle and bustle of the modern life, our emotional stability declines day by day. But yoga can help to prevent it. So another importance of yoga in modern life can be that yoga improves our muscle strength, stamina and bring immune and mental stability.

This article is entirely dedicated to the many importance of yoga in modern life and especially how we can incorporate yoga into our busy schedule.</p>
    </div>

    <hr>
    <div class=" container-fluid">
      <p class="hc "><em>more to know </em></p>
    </div>
    <hr>

    <div class=" div-2 container-fluid">
      <div class="  row">
        <div class=" col-lg-6 col-sm-12">
          <img class="ig1" src="assets/images/img-23.webp" alt="">
          </div>

        <div class=" col-lg-6 col-sm-12">
          <p class="hp row1"><em> Patanjali - The Father of Modern Yoga.</em></p>
          <p class="pb">He is known as the father of modern yoga. He did not invent yoga. Yoga was already there in various forms, which he assimilated into a system. Shiva, the Adiyogi or first yogi, transmitted yoga to the Sapta Rishis or the seven sages many thousands of years ago. He had the highest understanding of human nature, but he didn’t put anything down in writing. He was too wild to be a scholar. He found it was too difficult to put everything he knew into one person, so he chose seven people and put different aspects of yoga into them. These became the seven basic forms of yoga. Even today, though these have branched off into hundreds of systems, yoga has still maintained seven distinct forms.</p>
        </div>

      </div>

      <div class="  row">
        <div class=" col-lg-6 col-sm-12">
          <img class="ig1" src="assets/images/img-24.jpg" alt="">
          </div>

        <div class=" col-lg-6 col-sm-12">
          <p class="hp row1"><em>International Yoga Day</em></p>
          <p class="pb">June 21, 2015, the International Day of Yoga has been celebrated annually across the world, coinciding with the Summer Solstice each year. The practice of yoga originated from ancient India and has been promoted by several spiritual gurus over centuries. At the United Nations General Assembly in 2014, Prime Minister Narendra Modi proposed a day to practice and celebrate yoga which has since been recognised by the United Nations. In his address PM Modi said, “Yoga is an invaluable gift of India’s ancient tradition. It embodies unity of mind and body; thought and action; restraint and fulfillment; harmony between man and nature; a holistic approach to health and well-being. It is not about exercise but to discover the sense of oneness with yourself, the world and the nature. By changing our lifestyle and creating consciousness, it can help in well being. Let us work towards adopting an International Yoga Day.”</p>
        </div>

      </div>
</div>
  <div class=" container-fluid">
    <img class="ig2" src="assets/images/img-25.png" alt="">

  <p class="pa1">On 21 June, 2015, the Indian Prime Minister and around 36,000 people had celebrated the first International Day of Yoga at Rajpath in New Delhi. 21 yoga mudras or yoga postures for 35 minutes was performed there.

The ceremony had established two Guinness World Records: the first to be the largest yoga class and secondly the largest number of nationalities from 84 countries participated in the event. This award was presented to the Ministry of AYUSH and received by AYUSH minister Shripad Yesso Naik.</p>

  </div>


      <div class="div-5 container-fluid">

<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>
    </div>
  </body>
</html>
