<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="css/styles1.css">


  </head>
  <body>


    <div class=" div-1 container-fluid">
      <h1 > yoga journal </h1>
      <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
      <p><strong><em>Namaste</em></strong></p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav offset-md-3">
          <li class="nav-item active ">
            <a class="nav-link" href="/HOME"><span>
                <h3>HOME</h3>
              </span> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ABOUT_US"><span>
                <h3>ABOUT US</h3>
              </span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/HISTORY"><span>
                <h3>HISTORY</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/POSE"><span>
                <h3>POSES</h3>
              </span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/MEDETATION"><span>
                <h3>MEDITATION</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/THERAPIES"><span>
                <h3>THERAPIES</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/LIFE_HOPE"><span>
                <h3>LIFE & HOPE</h3>
              </span></a>
          </li>
        </ul>

      </div>
    </nav>

    <div class=" div-4 container-fluid">
      <a class="aa"href="/HOME">back</a>
    </div>

    <div class="container-fluid">
      <p class="hc "><em>Relaxation</em></p>
    </div>

    <div class="container-fluid">
      <p class="hc1"><em>How could relaxation help me?</em></p>
        <p class="mn">Exploring relaxation can help you look after yourself when you're feeling stressed or worried. Have a look at these tips and ideas to see how relaxation can fit into your daily life.</p>
  <img class="div-3" src="assets/images/img-1.jpg" alt="">
        <p class="hc1"><em>Take a break</em></p>
          <p class="mn">Relaxation doesn't have to take up lots of your time. Just stepping away from something stressful for a few minutes or taking time away from your normal routines and thoughts can give you enough space and distance to feel calmer.

Read a book or a magazine, even if it's only for a few minutes.
Run yourself a bath, watch a film, play with a pet or try out a new recipe.</p>
  <img class="div-3" src="assets/images/Slide19.PNG" alt="">
          <p class="hc1"><em>Try active relaxation</em></p>
            <p class="mn">Relaxation doesn't have to mean sitting still – gentle exercise can help you relax too.

Take a walk, going at your own pace. You might choose to go for a longer walk, but even a few minutes of walking can help you feel relaxed.
Look for a class you'd like to try, such as yoga, Pilates or gentle stretching.</p>
  <img class="div-3" src="assets/images/img-42.webp" alt="">
            <p class="hc1"><em>Focus on your breathing</em></p>
              <p class="mn">Learning to breathe more deeply can help you feel a lot calmer.

Breathe in through your nose and out through your mouth. Try to keep your shoulders down and relaxed, and place your hand on your stomach – it should rise as you breathe in and fall as you breathe out.
Count as you breathe. Start by counting 'one, two, three, four' as you breathe in and 'one, two, three, four' as you breathe out. Try to work out what's comfortable for you.</p>
  <img class="div-3" src="assets/images/Slide20.PNG" alt="">
              <p class="hc1"><em>Spend time in nature</em></p>
                <p class="mn">Spending time outside and in green spaces can be great for your physical and mental health.

Take a walk in the countryside or through a local park, taking time to notice trees, flowers, plants and animals you see on the way. See our page on relaxation exercises for a guided mindful moment in nature.
Spend some time taking part in conservation, whether that's digging in your own garden or taking part in a local green project. You can find projects and outdoor activities to suit whatever level of mobility you have. See our pages on ecotherapy for more information about how to find projects in your area.</p>
  <img class="div-3" src="assets/images/Slide18.PNG" alt="">
                <p class="hc1"><em>Listen to music</em></p>
                  <p class="mn">Music can relax you, connect you to your emotions and distract you from worrying thoughts.

Listen to your favourite songs. Turn up the volume and dance or sing along, or put your headphones on and close your eyes.
Really listen to the music. Can you pick out different instruments? Can you hear a drum beat or a certain rhythm? Focus on the music, and let other thoughts fade away.</p>

  </div>


    <div class="div-5 container-fluid">

<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>
    </div>


  </body>
</html>
