<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/styles1.css">

  </head>
  <body>

    <div class=" div-1 container-fluid">
      <h1 > yoga journal </h1>
      <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
      <p><strong><em>Namaste</em></strong></p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav offset-md-3">
          <li class="nav-item active ">
            <a class="nav-link" href="/HOME"><span>
                <h3>HOME</h3>
              </span> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ABOUT_US"><span>
                <h3>ABOUT US</h3>
              </span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/HISTORY"><span>
                <h3>HISTORY</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/POSES"><span>
                <h3>POSES</h3>
              </span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/MEDETATION"><span>
                <h3>MEDITATION</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/THERAPIES"><span>
                <h3>THERAPIES</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/LIFE_HOPE"><span>
                <h3>LIFE & HOPE</h3>
              </span></a>
          </li>
        </ul>

      </div>
    </nav>


<div class=" div-4 container-fluid">
  <a class="aa"href="/HOME">back</a>

</div>

<div class="container-fluid">
  <p class="hc "><em>all about a healthy yogic diet </em></p>
</div>

<div class=" container-fluid">
  <img class="div-3" src="assets/images/Slide8.png" alt="">

    <p class="hc1"><em>1. A yogic diet should be Sattvic.</em></p>

  <p class="mn">In yogic and Ayurvedic philosophy, there are three qualities (gunas) of all things in nature: 1) Raja (hot, spicy, fast), 2) Tama (slow, lethargic, bland), and 3) Sattva (purity, harmony). These three qualities are present in all things, but in different amounts, making one quality dominant.Rajasic foods are hot, bitter, dry, salty, or spicy. They overstimulate the mind and excite the passions. In contrast, tamasic foods are bland and include meat, alcohol, tobacco, garlic, onions, fermented foods, and overripe substances.Sattvic food is the purest diet, the most suitable one for any serious yoga student. It nourishes the body and maintains a peaceful state. This, in turn, calms and purifies the mind, enabling it to function at its maximum potential.A Sattvic diet will ultimately lead to true health; a peaceful mind in control of a fit body, with a balanced flow of energy between them.
Sattvic foods include:

wholemeal bread
fresh fruit and vegetables
pure fruit juices
milk
butter and cheese
legumes
nuts
seeds
sprouted seeds
honey and herb teas</p>

  <p class="hc1"><em>2. A yogic diet should be vegetarian.</em></p>
  <p class="mn">The lion is a great meat-eater, and he is called the king of the jungle. But no animal can match the elephant, a complete vegetarian, for pure strength. ~Yogi BhajanFear of protein deficiency is the meat-eater's main objection to a vegetarian diet. Yet, ironically, meat eaters obtain the worst quality protein from their food—protein that is dead or dying.Animal protein contains too much uric acid and other toxins to be broken down by the liver; some are eliminated, but the rest are deposited in the joints and tissues, leading to problems such as arthritis and cancer.Uric acid is a toxin that also makes it harder to reach the higher, clear meditative state because it is an irritant in the bloodstream.Meat is also among the greatest sources of cholesterol, which contributes to heart disease, hardening of the arteries, and senility. Meat takes three days to pass through the digestive system. For optimum health, men need to digest food within 24 hours, women 18 hours.Nuts, dairy products, leafy greens, and legumes are full of high-quality protein. Their main residue is cellulose, which is inert, and does not pollute the body. It is readily digestible, utilized by the body quickly and efficiently.</p>

  <p class="hc1"><em>3. A yogic diet should be free of chemicals and stimulants.</em></p>
  <p class="mn">Choose organic when available, and avoid caffeine, tobacco, alcohol, and artificial sweeteners. These substances are not healthy for the body and alter the mind, making it more difficult to concentrate on the Divine.</p>

  <p class="hc1"><em>4. A yogic diet should contain fresh foods.</em></p>
  <p class="mn">If possible, always prepare a fresh meal. Frozen, prepared, packaged and left-over foods should be avoided, only taking in the freshest and the best.</p>

  <p class="hc1"><em>5. A yogic diet should be at regular intervals, two hours before asana practice or sleep.</em></p>
  <p class="mn">If you train your body to eat at regular times, say at 10 A.M. and 6 P.M., it will better utilize its energy throughout the day as it anticipates intake of calories at these times. The body has cycles, and functions best when these cycles are regular and steady. The same goes for our meal times.Avoiding food two hours before exercise or sleep helps the body function at its best capacity. Energy for digestion should not be taken away for the purpose of exercise. Ensuring proper time for digestion before sleep helps to keep the mind clear.Thus, the hormones produced during sleep can be utilized efficiently to repair tissue damage and fight infection, which is ideal, instead of for digestion.</p>

  <p class="hc1"><em>6. Take time to fast.</em></p>
  <p class="mn">The yogis recommend choosing one day each week to fast. A fast can be strict, not allowing anything to enter the body. Or, it can include water and fruit juices. Whatever you choose, keep in mind that the goal of your fast is to purify the body and mind.For me, once a week is unrealistic. I choose to fast on Ekadashi, the 11th day of each lunar month, observed by yogis to be an auspicious day.</p>

</div>



<div class="div-5 container-fluid">

<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>
</div>
  </body>
</html>
