<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/styles1.css">

  </head>
  <body>

    <div class=" div-1 container-fluid">
      <h1 > yoga journal </h1>
      <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
      <p><strong><em>Namaste</em></strong></p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav offset-md-3">
          <li class="nav-item active ">
            <a class="nav-link" href="/HOME"><span>
                <h3>HOME</h3>
              </span> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ABOUT_US"><span>
                <h3>ABOUT US</h3>
              </span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/HISTORY"><span>
                <h3>HISTORY</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/POSES"><span>
                <h3>POSES</h3>
              </span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/MEDETATION"><span>
                <h3>MEDITATION</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/THERAPIES"><span>
                <h3>THERAPIES</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/LIFE_HOPE"><span>
                <h3>LIFE & HOPE</h3>
              </span></a>
          </li>
        </ul>

      </div>
    </nav>

    <div class=" div-4 container-fluid">
      <a class="aa"href="/HOME">back</a>

    </div>

    <div class="container-fluid">
      <p class="hc "><em>healthy drinks one must try</em></p>
    </div>
    <div class="container-fluid">
      <p class="hc1"><em>Sure, water is the smartest drink out there, but if you're craving something more, these healthy drinks will give you a boost of nutrition.</em></p>
    </div>

    <div class=" div-2 row">
      <div class=" col-lg-6 col-sm-12">
        <img class="ig1" src="assets/images/Slide9.PNG" alt="">
        <p class="hp "><em> 1.Pomegranate Juice</em></p>
        <p class="pb">All-natural pomegranate juice is one of the most nutritious beverages on supermarket shelves. This vibrant fruit juice is packed with antioxidants that help protect cells from damage and decrease inflammation, which may help relieve some types of arthritis. It’s also rich in immune-boosting vitamin C, making it one of our favorite healthy drinks to fight off colds.</p>
      </div>

      <div class=" col-lg-6 col-sm-12">
        <img class="ig1" src="assets/images/Slide10.PNG" alt="">
        <p class="hp "><em> 2.Lemon Water</em></p>
        <p class="pb">We recommend starting your day with lemon water. Lemon water is a surprisingly powerful immune booster. Just 2 tablespoons of lemon juice stirred into a glass of water adds 14mg vitamin C. Another bonus? You’ll probably drink more lemon water than plain water because it tastes better—one more way to help stay hydrated.</p>
      </div>

    </div>

    <div class=" div-2 row">
      <div class=" col-lg-6 col-sm-12">
        <img class="ig1" src="assets/images/Slide11.PNG" alt="">
        <p class="hp "><em> 3.Cranberry Juice</em></p>
        <p class="pb">This tangy juice is packed with antioxidants that can help prevent cardiovascular disease and some types of cancer, and promotes a healthy urinary tract. Cranberry juice is tart on its own, so it’s combined with sugar or other, sweeter fruit juices</p>
      </div>

      <div class=" col-lg-6 col-sm-12">
        <img class="ig1" src="assets/images/Slide12.png" alt="">
        <p class="hp "><em> 4.Coconut Water</em></p>
        <p class="pb">The flavor of this tropical water is a bit controversial. Some people love it, and some hate it. But there’s no debating the fact that this healthy drink can hydrate the body and provide a surprising amount of potassium. Potassium plays an important role in maintaining a healthy heartbeat and regulating blood pressure.</p>
      </div>

    </div>

    <div class=" div-2 row">
      <div class=" col-lg-6 col-sm-12">
        <img class="ig1" src="assets/images/Slide13.PNG" alt="">
        <p class="hp "><em> 5.Green Tea</em></p>
        <p class="pb1">Green tea has been hailed for its health benefits in Asian countries for centuries; only recently did Americans get the memo. While many know green tea as a healthy drink that hydrates and soothes the soul, this drink does even more good than you may know. Green tea contains a high level of polyphenols which are believed to prevent certain types of cancer like breast cancer and prostate cancer. Studies suggest it can also help reduce sharp increases in blood sugar after a meal, which can be especially beneficial for people with type 2 diabetes. Give this warm and soothing lemon thyme green tea a try.</p>
      </div>

      <div class=" col-lg-6 col-sm-12">
        <img class="ig1" src="assets/images/Slide14.PNG" alt="">
        <p class="hp "><em> 6.infused water drinks</em></p>
        <p class="pb1">If there’s one thing we’re always told to do for better health, it’s to drink more water. The problem? Plain old water is just plain boring. But never fear; there is a better way to get your eight glasses a day – infusion! Steeping cold water with fruits, herbs and other goodies is a great way to add a little flavor and flair. Whether you’re doing a little summer entertaining or just need something to help keep yourself cool when the temperatures start to rise, infused water is the way to go.</p>
      </div>

    </div>

    <div class=" div-2 row">
      <div class=" col-lg-6 col-sm-12">
        <img class="ig1" src="assets/images/Slide15.PNG" alt="">
        <p class="hp "><em> 7.Kombucha</em></p>
        <p class="pb">This elixir is one of the hottest healthy drinks on the market. Fizzy and fermented, kombucha is packed with probiotics, like other healthy fermented foods, that promote healthy bacteria in the gut. These bacteria aid in digestion, and help your body absorb of vitamins and minerals. </p>
      </div>

      <div class=" col-lg-6 col-sm-12">
        <img class="ig1" src="assets/images/Slide16.PNG" alt="">
        <p class="hp "><em> 8.Beet Juice</em></p>
        <p class="pb">Need a few reasons why you should incorporate beets into your diet? Beets loaded with health benefits as they are a powerful source of folic acid, magnesium and nitrates. Our bodies convert nitrates into nitric oxide, which helps lower blood pressure and improve blood flow. Some studies suggest it’s a great food to eat before you workout to increase stamina. Grab a juicer and make this sweet healthy drink to go.</p>
      </div>

    </div>

    <div class=" container-fluid">
      <img class="div-3" src="assets/images/Slide17.PNG" alt="">
      <div class="container-fluid">
        <p class="hc1"><em>Hot Chocolate</em></p>
      </div>
      <p class="mn">Who knew dessert could be nutritious? We’ve all heard about the health benefits of cocoa, but this antioxidant-rich drink is even more beneficial when mixed with milk, which is high in calcium and usually fortified with vitamin D.</p>
    </div>

    <div class="div-5 container-fluid">

<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>
    </div>

  </body>
</html>
