<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles1.css">

  </head>
  <body>

    <div class=" div-1 container-fluid">
      <h1> yoga journal </h1>
      <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
      <p><strong><em>Namaste</em></strong></p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav offset-md-3">
          <li class="nav-item active">
            <a class="nav-link" href="/HOME"><span>
                <h3>HOME</h3>
              </span> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ABOUT_US"><span>
                <h3>ABOUT US</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/HISTORY"><span>
                <h3>HISTORY</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/POSES"><span>
                <h3>POSES</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/MEDETATION"><span>
                <h3>MEDITATION</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/THERAPIES"><span>
                <h3>THERAPIES</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/LIFE_HOPE"><span>
                <h3>LIFE & HOPE</h3>
              </span></a>
          </li>
        </ul>

      </div>
    </nav>

    <div class=" div-4 container-fluid">
      <a class="aa"href="/HOME">back</a>

    </div>

    <div class="container-fluid">
        <p class="hc1"><em>Our breath is the bridge between our conscious minds and the unconscious and autonomic actions of our bodies.</em></p>
    </div>

    <div class=" container-fluid">
      <img class="div-3" src="assets/images/img-43.jpg" alt="">

        <p class="hc1"><em>Use These 3 Yogic Breathing Exercises to Help You Calm Down:</em></p>

      <p class="mn">You can always turn to pranayama for stress relief. These pranayama exercises will help you tame your mind by focusing on your breath and calming your senses.You will feel the most benefit from these breathing exercises if you practice them before starting your day or before falling asleep at night.</p>


      <p class="hp "><em>  How to prepare:</em></p>
      <p class="pb">   Find a steady and comfortable seated position, with your spine erect and your shoulders relaxed. You can sit on the ground with the support of a meditation cushion or bolster or you can sit on the edge of a chair, with your feet firmly planted on the ground
        Close your eyes and become aware of the rhythm of your breath: Let your breath flow naturally for a minute or two, without changing its speed or depth. Make sure to breathe through your nose at all times, unless instructed otherwise.</p>

<p class="hp "><em> How to do it</em></p>
  <p class="hp "><em>  1. Slow Exhalations</em></p>
<ul class="lit">
  <li>Inhale for a count of four and exhale for a count of eight</li>
  <li>Try to distribute the breath evenly throughout the entire count of your exhalation</li>
  <li>Repeat several times without strain and without holding your breath</li>
  <li>When you’re ready to progress, increase the counts of your exhalations to 12</li>
  <li>As you exhale, visualize that your breath is like a thin thread passing through the eye of a needle. This visualization will help you to distribute the breath evenly and keep the flow steady</li>
<li>To end this breathing exercise, take three deep breaths in and breathe out every time through the mouth with a little sigh. Then let your breathing return to its natural rhythm</li>
</ul>

  <p class="hp "><em>2. Alternate Nostril Breathing (Anuloma Viloma or Nadi Shodhana)</em></p>

<ul class="lit">
  <li>Place your right hand in Vishnu Mudra by folding your index and middle fingers inward toward your palm<li>
    <li>Bring your right hand toward your face and rest your thumb lightly on your right nostril and your ring and pinky fingers lightly on your left nostril</li>
<li>Close your right nostril with your thumb, and breathe out completely through your left nostril</li>
<li>Inhale for a count of four through your left nostril</li>
<li>Close your left nostril with your ring and pinky fingers so that both nostrils are now closed</li>
<li>Hold your breath for a count of eight</li>

<li>Keeping your left nostril closed, release your right nostril and exhale completely for a count of eight</li>
<li>With your left nostril closed, inhale through your right for a count of four</li>
<li>Close both nostrils and hold your breath for a count of eight</li>
<li>Keeping your right nostril closed, release your fingers from your left nostril and breathe out completely for a count of eight</li>
<li>This completes one full round. Continue this exercise for five to 10 minutes</li>
<li>For beginners, the ratio of 1:2:2 is recommended. So, a count of four for the inhalation, a count of eight for the retention, and a count of eight for the exhalation</li>
<li>As you become more comfortable with this exercise, the ratio of the exercise can be taken to 1:4:2, which is the classical way to practice it. This would be a count of four for the inhalation, a count of 16 for the retention, and a count of eight for the exhalation. The count of the exercise may be increased, but always in a ratio of 1:4:2</li>
</ul>



  <p class="hp "><em>Contraindications and Cautions:</em></p>
    <p class="pb">  Anulom Vilom can be practiced by anyone and everyone . . . it is a truly beneficial breathing exercise. However, some should skip the retentions, and only alternate the breathing in and out. Skip the retentions if you are pregnant, and if you are suffering from hypertension, anxiety, or panic attacks. </p>


      <p class="hp "><em>  3. Bumble Bee (Brahmari)</em></p>
<ul class="lit">
  <li>Close your eyes and focus on your natural breathing</li>
  <li>  Place your hands in Shanmukhi Mudra: Close your ears with your thumbs, place your index fingers on the lower parts of your eyelids to close your eyes, use you middle fingers to partially close your nostrils, place your ring fingers above your lips, and place your pinky fingers below your lips to close your mouth</li>
<li>  Shanmukhi Mudra literally translates to Six Mouths and by placing our fingers into the above mentioned positions we close the six mouths of our senses, therefore reducing sensory inputs from around us to a mere minimum</li>
<li>  From here, breathe in through your nostrils</li>
<li>  As you breathe in, slightly contract your glottis and gently engage your vocal cords to create a light snoring sound</li>
<li>  Breathe in slowly and comfortably, and at the same time, create this snoring (or monster) sound</li>
<li>  Once you have completed your inhalation, breathe out for as long as you can</li>
<li>  As you breathe out, create a high-pitched humming sound</li>
<li>  Create this hum in your nose and visualize that you pierce this sound through your Third Eye Chakra (in between your eyebrows)</li>
<li>  During the entire exercise, keep Shanmukhi Mudra</li>
<li>  Repeat six to eight times and close with an exhalation</li>
</ul>



</div>

<div class="div-5 container-fluid">

<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>
</div>
  </body>
</html>
