<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles1.css">

</head>

<body>



  <div class=" div-1 container-fluid">
    <h1> yoga journal </h1>
    <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
    <p><strong><em>Namaste</em></strong></p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav offset-md-3">
        <li class="nav-item active">
          <a class="nav-link" href="/HOME"><span>
              <h3>HOME</h3>
            </span> <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/ABOUT_US"><span>
              <h3>ABOUT US</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/HISTORY"><span>
              <h3>HISTORY</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/POSES"><span>
              <h3>POSES</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/MEDETATION"><span>
              <h3>MEDITATION</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/THERAPIES"><span>
              <h3>THERAPIES</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/LIFE_HOPE"><span>
              <h3>LIFE & HOPE</h3>
            </span></a>
        </li>
      </ul>

    </div>
  </nav>

  <div class=" div-4 container-fluid">
    <a class="aa" href="/HOME">back</a>
  </div>

  <div class="container-fluid">
    <p class="hc "><em>What is restoration yoga? </em></p>
    <p class="mn"> So what is at the heart of Restorative Yoga anyway? Well, experientially, when we are in a Restorative Yoga pose, the idea is that all the props we use meet our body’s every nook and cranny.
      This allows for all of our tissues to relax. It’s like a cradle that supports every empty space so there is absolutely no effort against the pull of gravity for any of your tissues. </p>
    <p class="hc1"><em> Restorative Yoga is like a cradle of support into which you can cocoon.</em></p>

  </div>

  <div class=" container-fluid">
    <img class="div-33" src="assets/images/img-45.jpg" alt="">
    <p class="hc1"><em> Restorative Yoga: Here’s What You Need to Know Before You Get Started </em></p>
    <p class="mn"> Unlike other styles of yoga, restorative yoga is a passive and deeply receptive practice. Typically poses are held anywhere from 5-25 minutes. Sometimes, it includes the use of yoga props to set the body up to be as comfortable as
      possible.

      There is little to no muscular activity. The goal is not to stretch or stimulate our tissues. Once we settle into a pose, we stay. We become a witness to our internal environment within our body.

      If you are new to restorative yoga, try the following sequence. The props suggested include a strap, a bolster, two blocks, and four blankets. However, if you don’t have the suggested props, you can always modify with scarves, towels, pillows,
      couch cushions, and even large books in lieu of the blocks.

      The goal is to rest and set your body up so that you give it permission to just be, relax, unwind, and nourish from the inside out.

      This short sequence is one of my go-to sequences whenever I need a system reboot and overall the class could take you anywhere from 30 minutes to an hour. It’s up to you how much time you can carve out.

      The longer you can hold, the better. Try setting a gentle timer or just come out of the pose when you feel ready</p>
  </div>
  <div class="container-fluid">
    <p class="hc1"><em> try these restoration yoga poses </em></p>
    <img class="div-34" src="assets/images/img-46.png" alt="">
    <p class="hc1"><em> The Benefits of Restorative Yoga </em></p>
    <p class="mn">Restorative yoga is a practice that effects the body from the inside out. It targets our nervous system, our digestive system, and also has a direct impact on all the internal systems within our body.
      Restorative yoga encourages the body’s innate capacity to heal.


      It helps restore our body’s natural capacity for health by targeting the parasympathetic nervous system. The parasympathetic nervous system is a branch of the nervous system that regulates our body’s ability to rest, digest, and heal.

      Try Yoga For Stress Relief: De-Stress With This 30-Minute Yoga Sequence . When we can balance the nervous system and activate the parasympathetic response. This response will help us manage the symptoms of stress and fatigue.
    </p>
  </div>


  <div class="div-5 container-fluid">

<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>
  </div>


</body>

</html>
