<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles5.css">
  </head>
  <body>
    <div class=" div-1 container-fluid">
      <h1 > yoga journal </h1>
      <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
      <p><strong><em>Namaste</em></strong></p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav offset-md-3">
          <li class="nav-item ">
            <a class="nav-link" href="/HOME"><span>
                <h3>HOME</h3>
              </span> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ABOUT_US"><span>
                <h3>ABOUT US</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/HISTORY"><span>
                <h3>HISTORY</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/POSES"><span>
                <h3>POSES</h3>
              </span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/MEDETATION"><span>
                <h3>MEDITATION</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/THERAPIES"><span>
                <h3>THERAPIES</h3>
              </span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/LIFE_HOPE"><span>
                <h3>LIFE & HOPE</h3>
              </span></a>
          </li>
        </ul>

      </div>
    </nav>

    <div class="container-fluid">
      <hr>
      <h1 class="ha">life and hope</h1>
        <p class="pa1">"We must accept finite disappointment but never lose  </p>
        <p class="pa1">infinite hope" -MARTIN LUTHER KING,JR.  </p>
      <hr>
    </div>

<div class="container-fluid">
  <p class="hc "><em>inspirational yoga success stories</em></p>
</div>
<div class="container-fluid">
  <p class="hc1"><em>yoga changed their lives it can change yours too</em></p>
</div>
<div class=" container-fluid">
  <img class="div-3" src="assets/images/Slide4.png" alt="">
  <p class="mn">“I was diagnosed with bone cancer in 1993 at age 11. My medical treatment consisted of a year of chemotherapy and a rotationplasty, a salvage procedure that involves removing the knee joint and replacing it with the ankle joint. I am fortunate in that the treatment was curative.
I started practicing yoga in 2007. Like many, I was seeking something. In my case, I was hoping to find relief from years of chronic hip pain that stemmed from the imbalance inherent to having 1.5 legs. It took more than a year of consistent practice, but now the chronic pain is a distant memory.

I have found more through my yoga practice than I ever thought I would. The discipline to get up at 5:15 a.m. (most days of the week), rich friendships with teachers and yoga students, who I’ve met at various workshops and classes over the years, a perspective on my mind when, on occasion, it rattles in its cage. I found a tool for learning to remain present, and a deeper acceptance of my body—something that I struggled to embrace in its altered form for many years.”

Kate started practicing in 2007 with Harmony Slater and Jeff Lichty. She has traveled around the world to practice with many other authorized and certified teachers since this humble beginning. Currently, Kate resides in Wellington, NZ and continues her practice under the guidance of Stewart Cameron Harris.</p>
</div>


<div class=" container-fluid">
  <img class="div-3" src="assets/images/Slide5.png" alt="">
  <p class="mn">“I had a dream of being a professional ballerina for as long as I could remember. Unfortunately, this ambition came surrounded by a culture of anorexia and bulimia nervosa, and body dysmorphic disorder. After 15 years of training as a ballet dancer, I felt I had no choice but to remove myself from this environment to stay alive. I was left a little more than a shadow of myself, and hated almost everything about my body. After two years of a focusing on my mental health and recovery, I began to yearn to feel in my body again.

Fortuitously, I was introduced to Ashtanga Yoga. From my first class, I knew this would become a path of healing for me. I felt alive and vibrant. I noticed a new kind of craving to nurture myself, fill my body with healthy food, and feed my mind with more positive self-talk. Regular practice gave me an increased awareness and the ability notice immediately when I was falling into negative or destructive patterns. For the first time, I felt self-love and worthy of joy. The Ashtanga Yoga practice has been my daily companion for the past two decades. There are still days when I am exorcising old demons out on the mat, but I trust that this method will continue to safely carry me across the often stormy tides into calmer waters.”
Harmony is a Certified Ashtanga Yoga teacher. She spent the past 15 years making annual trips to practice and study in Mysore, India, with the Jois Family. She resides in Canada with her eight-year old son, and continues to travel and teach in several Yoga Schools all over the world.</p>
</div>


<div class="container-fluid">
  <hr class="h1">
<p class="hd"><em>more to know</em></p>

  <hr>
</div>


<div class=" div-2 container-fluid">
  <div class=" row1 row">
    <div class=" col-lg-6 col-sm-12">
      <img class="ig1" src="assets/images/img-21.jpg" alt="">
      </div>

    <div class=" col-lg-6 col-sm-12">
      <p class="hp "><em> 1. Russell Brand overcomes addiction.</em></p>
      <p class="pb">Once upon a time, comedian Russell Brand grabbed headlines for all the wrong reasons (booze, drugs, addiction). Now, he stands out for his honest and inspiring relationship with yoga.Brand says he realized his destructive use of acid, heroin, and alcohol was actually a spiritual problem. He claims he is an instinctually devotional person, but it took yoga to show him he was devoting his heart and soul in the wrong direction.“I recognize an authenticity through yogic practice,” reports Brand. “A moment-to-moment union with God, I feel an authenticity that I really don’t feel in anywhere else in my life.”Over time, Brand focused more on yoga and meditating than on  drugs. </p>
    </div>

  </div>



  <div class=" row2 row">
    <div class=" col-lg-6 col-sm-12">
      <img class="ig1" src="assets/images/img-19.jpg" alt="">
      </div>

    <div class=" col-lg-6 col-sm-12">
      <p class="hp "><em>3. Maria Shriver turns her life around. </em></p>
      <p class="pb">Maria Shriver believes yoga saved her life. Between the death of her father, her mother’s struggle with cancer, and her husband leaving her, Shriver wished she could “just evaporate.” In efforts to recover from alcoholism and addiction, she still found herself detached from her body, mind, and spirit.A friend from an AA meeting suggested Shriver accompany her to a yoga class. Struck with emotion, Shriver cried throughout the first class—yoga had reignited a sense of connection between her body and her mind.She got up off the mat a different person, claiming yoga and mindfulness “marked the beginning of a journey of a relationship with my body that is still an ongoing adventure,” giving her the helping hand she needed.</p>
    </div>

  </div>

  <div class="row3 row">
    <div class=" col-lg-6 col-sm-12">
      <img class="ig1" src="assets/images/img-18.jpg" alt="">
      </div>

    <div class=" col-lg-6 col-sm-12">
      <p class="hp "><em>4. Lauren Roegele finds healing.</em></p>
        <p class="pb">Co-founder of YOGO.tv and head trainer at Vancouver School of Yoga Lauren Roegele spent years in a dark place, having had to deal with chronic pain and severe post-traumatic stress after getting hit by a drunk driver.“I actually found yoga the week I had planned to kill myself,” Roegele says. “At the point I found yoga, I was severely depressed. Because of my limitations in my body—my left leg was shattered, my lungs had collapsed…It got to an exploding point where I dove into a dark crevice.”  Roegele began to see a psychologist regularly and dove deep into her yoga practice, which she thanks for saving her life and for helping her heal.</p>
    </div>

  </div>

  <div class="row4  row">
    <div class=" col-lg-6 col-sm-12">
      <img class="ig2" src="assets/images/img-20.jpg" alt="">
      </div>

    <div class=" col-lg-6 col-sm-12">
      <p class="hp "><em>2. Rebecca Berry’s curved spine is corrected. </em></p>
      <p class="pb">29-year-old Norfolk, UK native Rebecca Berry thought she would never enjoy life again without destructive, painful surgery. Berry had been suffering from scoliosis since her teens, even wearing clothes four sizes too big to hide her severely curved spine.Forgoing invasive surgery to correct the problem, she instead turned to yoga. In one month, her back was straighter and she felt confident and ready to take on the world. Berry now spends her time enjoying her favorite sport—scuba diving.</p>
    </div>
  <img class="imm"src="assets/images/Slide6.png" alt="">
  </div>

</div>

<div class="div-5 container-fluid">
<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>

</div>


  </body>
</html>
