<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/styles3.css">
</head>

<body>

  <div class=" div-1 container-fluid">
    <h1> yoga journal </h1>
    <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
    <p><strong><em>Namaste</em></strong></p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav offset-md-3">
        <li class="nav-item ">
          <a class="nav-link" href="/HOME"><span>
              <h3>HOME</h3>
            </span> <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/ABOUT_US"><span>
              <h3>ABOUT US</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/HISTORY"><span>
              <h3>HISTORY</h3>
            </span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/POSES"><span>
              <h3>POSES</h3>
            </span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/MEDETATION"><span>
              <h3>MEDITATION</h3>
            </span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/THERAPIES"><span>
              <h3>THERAPIES</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/LIFE_HOPE"><span>
              <h3>LIFE & HOPE</h3>
            </span></a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container-fluid">
    <hr>
    <h1 class="ha">meditation</h1>
    <p class="pa1">a negative mind will never give you a positive life so,meditate as </p>
    <p class="pa1">"that deep silence has a melody of its own,a sweetness unknown amid the harsh discords of the world's sounds" </p>
    <p class="pa1">-PAUL BRUNTON</p>
    <hr>
  </div>
  <div class=" div-2 container-fluid">
    <img src="assets/images/img-6.jpg" alt="">
  </div>
  <div class="div-4 container-fluid">
    <h1 class="ha1">What is meditation?</h1>
    <p class="pa1">Meditation isn’t about becoming a different person, a new person, or even a better person. It’s about training in awareness and getting a healthy sense of perspective. You’re not trying to turn off your thoughts or feelings. You’re
      learning to observe them without judgment. And eventually, you may start to better understand them as well.</p>

  </div>
  <hr>
  <div class=" container-fluid">
    <p class="hc "><em>more to know </em></p>
  </div>
  <hr>
  <div class=" div-2 row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img class="ig1" src="assets/images/img-8.jpg" alt="">
      <p class="hp "><em>benifits</em></p>
      <p class="pb"><strong>1. Reduces Stress-</strong> Meditation can reduce symptoms in people with stress-triggered medical conditions.</p>
      <p class="pb"><strong>2. Controls Anxiety-</strong>Habitual meditation helps reduce anxiety and anxiety-related mental health issues like social anxiety, phobias and obsessive-compulsive behaviors </p>
      <p class="pb"><strong>3. Promotes Emotional Health-</strong>meditation can improve depression and create a more positive outlook on life. </p>
      <p class="pb"><strong>4. Lengthens Attention Span.AND MORE</strong></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <img class="ig1" src="assets/images/img-7.jpg" alt="">
      <p class="hp "><em> what is mindfullness?</em></p>
      <p class="pb">Mindfulness meditation is a mental training practice that teaches you to slow down racing thoughts, let go of negativity, and calm both your mind and body.Mindfulness techniques can vary, but in general, mindfulness meditation
        involves a breathing practice and awareness of body and mind. Practicing mindfulness meditation doesn't require props or preparation (no need for candles, essential oils, or mantras, unless you enjoy them). </p>
    </div>

    <div class="col-lg-4 col-sm-12">
      <img class="ig1" src="assets/images/img-5.jpg" alt="">
      <p class="hp "><em> how to meditate?</em></p>
      <p class="pb"><strong>Step 1:</strong> Decide on a time and place that works for you.</p>
      <p class="pb"><strong>Step 2:</strong> Decide on an amount of time to meditate. </p>
      <p class="pb"><strong>Step 3:</strong> Make sure you’re sitting comfortably.</p>
      <p class="pb"><strong>Step 4:</strong> Decide whether you want the meditation to be guided or unguided.</p>
    </div>

  </div>
  <div class=" div-6 container-fluid">
    <a id="aa" href="/medtyp"><em>types of meditation</em></a>
  </div>
  <hr>
  <div class=" div-3 container-fluid">
    <p class="hc "><em>poses </em></p>
  </div>
  <hr>

  <div class="container-fluid">
    <img src="assets/images/img-9.png" alt="">
  </div>
  <div class="div-5 container-fluid">

<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>
  </div>
</body>

</html>
