<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/styles3.css">
</head>

<body>
  <div class=" div-1 container-fluid">
    <h1> yoga journal </h1>
    <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
    <p><strong><em>Namaste</em></strong></p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav offset-md-3">
        <li class="nav-item ">
          <a class="nav-link" href="/HOME"><span>
              <h3>HOME</h3>
            </span> <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/ABOUT_US"><span>
              <h3>ABOUT US</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/HISTORY"><span>
              <h3>HISTORY</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/POSE"><span>
              <h3>POSES</h3>
            </span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/MEDETATION"><span>
              <h3>MEDITATION</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/THERAPIES"><span>
              <h3>THERAPIES</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/LIFE_HOPE"><span>
              <h3>LIFE & HOPE</h3>
            </span></a>
        </li>
      </ul>

    </div>
  </nav>

  <div class=" div-6 container-fluid">
    <a class="a1" href="/MEDETATION"><em>go back</em></a>
  </div>
  <div class=" div-3 container-fluid">
    <p class="hc "><em>types of meditation </em></p>
  </div>
  <img class="im2" src="assets/images/img-10.jpg" alt="">
  <div class="container-fluid">
    <p class="pb1"><strong>1. Spiritual Meditation</strong></p>
    <p class="pb"> spiritual meditation may also include elements of silent, spoken, or chanted prayer. When practiced within a religious context, meditation supports a deeper connection with the Divine. In non-theistic traditions such as Buddhism
      and Taoism, meditation is more focused on self-awareness and self-actualization. In that sense, non-theistic spiritual meditation supports practitioners in becoming the best human beings that they can be. </p>
    <p class="pb">Good venues for your spiritual meditation practice might be at home, at your preferred place of worship, or in nature. It is well-suited for individuals seeking spiritual growth as well as those who appreciate setting time aside for
      self-reflection. True spiritual meditation always includes elements of lovingkindness and compassion, and if we are looking to be of service to others, the insights that we can gain from our practice are invaluable.</p>


    <p class="pb1"><strong>2. Mindfulness Meditation</strong></p>
    <p class="pb">This meditation technique, which has become extremely popular in the West, is based on the teachings of the Buddha. Mindfulness meditation can be instrumental in helping us understand how our minds work. This self-knowledge serves
      as a foundation for overcoming dissatisfaction, impatience, intolerance and many of the other habits that keep us from living fuller, happier lives.</p>
    <p class="pb"> to be a complete meditation technique mindfulness combines concentration with awareness. All that’s required is a disciplined meditation posture, a straight back, and a willingness to be honest with yourself. The best-known focus
      of mindfulness meditation is the breath; impartial observation of physical sensations is another common technique.</p>


    <p class="pb1"><strong>3. Movement Meditation</strong></p>
    <p class="pb">Many forms of meditation encourage you to remain in one position, but movement meditation focuses on the body in motion. Walking meditation is one form of mindful movement; this technique can also be associated with yoga or tai chi
      and other martial arts. Having a commitment to some form of physical discipline is very beneficial. Once you are able to be present in your body during movement meditation, you can expand your awareness to include just about anything that keeps
      you moving: gardening, walking the dog, washing up, playing golf, etc. In each case, the movement of your body is the object of meditation.</p>



    <p class="pb1"><strong>4. Focused Meditation</strong></p>
    <p class="pb">In this technique, we concentrate exclusively on whatever it is that we are doing: it is the exact opposite of multi-tasking. We witness and admire the exceptional power of concentration of athletes, musicians, chess-players and the
      like, and we may forget that to succeed in life, we too have to be able to focus on the task at hand. We’ve led ourselves to believe multi-tasking is necessary to get everything done on our to-do lists, but we’re only really doing one thing at
      a time anyway. This jumping around between many thoughts and activities leads to a scattered mind and a lot of dissatisfaction.</p>



    <p class="pb1"><strong>5. Visualization Meditation</strong></p>
    <p class="pb">In this meditation technique, an image that creates a particular feeling or quality is brought to mind. In a simple way, we can close our eyes and imagine a beautiful mountain lake, an open sky, a familiar landscape, or any other
      visualization that speaks to us. In one well-known mindfulness exercise, we imagine our thoughts and emotions as being leaves on a stream that the current gently sweeps downstream. This is said to give meditators distance from unwelcome mental
      activity and bring a sense of peace.</p>
  </div>
  <div class="div-5 container-fluid">

<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>
  </div>
</body>

</html>
