<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/styles2.css">

  </head>
  <body>

    <div class=" div-1 container-fluid">
      <h1 > yoga journal </h1>
      <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
      <p><strong><em>Namaste</em></strong></p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav offset-md-3">
          <li class="nav-item ">
            <a class="nav-link" href="/HOME"><span>
                <h3>HOME</h3>
              </span> <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/ABOUT_US"><span>
                <h3>ABOUT US</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/HISTORY"><span>
                <h3>HISTORY</h3>
              </span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/POSES"><span>
                <h3>POSES</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/MEDETATION"><span>
                <h3>MEDITATION</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/THERAPIES"><span>
                <h3>THERAPIES</h3>
              </span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/LIFE_HOPE"><span>
                <h3>LIFE & HOPE</h3>
              </span></a>
          </li>
        </ul>

      </div>
    </nav>
    <div class="container-fluid">
      <hr>
      <h1 class="ha">yoga poses with benefits</h1>
      <hr>
    </div>


      <div class="  container-fluid">
      <img src="assets/images/img-4.png" alt="">
    </div>


<div class=" div-3 container-fluid">
<a class="aa"href="/itlvl">Intermediate Level</a>
</div>

<hr>
    <div class=" container-fluid">
      <p class="hc "><em>All About Beginners level yoga poses </em></p>
    </div>
<hr>

<div class="div-2 container-fluid">


<div class=" row1 row">
  <div class=" col-lg-6 col-sm-12">

    <img class="ig1" src="assets/images/img-26.jpg" alt="">
      <p class="hp "><em>4. Downward-Facing Dog(Adho Mukha Svanasana ) </em></p>
    <p class="hp "><em>How to do it </em></p>
      <p class="pb">From all fours, walk your hands 6 inches in front of you. Tuck your toes and lift your hips up and back to lengthen your spine. If your hamstrings are tight, keep your knees bent in order to bring your weight back into the legs.Spread your fingers wide, press into your hands, and rotate your arms so that your biceps are facing toward one another. Press your thighs back toward the wall behind you.</p>
<p class="hp "><em>The benefits </em></p>
<p class="pb">This classic pose opens your shoulders, lengthens your spine, and stretches your hamstrings. Since your head is below your heart, the mild inversion creates a calming effect.</p>
  </div>

  <div class=" col-lg-6 col-sm-12">

    <img class="ig1" src="assets/images/img-27.jpg" alt="">
      <p class="hp "><em>  2. Mountain Pose( Tadasana)</em></p>
    <p class="hp "><em>How to do it</em></p>
    <p class="pb">Stand with your feet together or hip-width apart. Ground down through the four corners of your feet. Roll your shoulders away from your ears, draw your shoulder blades down your back, and lift the crown of your head.  Engage your thighs, draw your belly button in, and lengthen up through the spine. Turn your palms facing the front of the room. Relax your jaw and unfurrow your brow. Breathe easy.</p>
    <p class="hp "><em>The benefits</em></p>
    <p class="pb">It may seem like you’re, well, just standing there, but bear with us. This is the blueprint for all other poses. It promotes balance and directs your attention to the present moment.t may seem like you’re, well, just standing there, but bear with us. This is the blueprint for all other poses. It promotes balance and directs your attention to the present moment.</p>

  </div>

</div>



<div class="  row2 row">
  <div class=" col-lg-6 col-sm-12">

    <img class="ig1" src="assets/images/img-39.webp" alt="">
    <p class="hp "><em>3.Seated Forward Fold(Paschimottanasana ) </em></p>
    <p class="hp "><em>How to do it </em></p>

    <p class="pb">Sit and straighten your legs out in front of you, grounding your thighs into the floor. Hinge at the hips to elongate your torso over your thighs. Grab hold of the outer edges of your feet.
      Pro tip: If your hamstrings are tight, grab a strap and loop it behind your feet. Use the leverage to bring your torso closer to your thighs. You can also sit on the edge of a blanket to help you fold forward.</p>
<p class="hp "><em>The benefits </em></p>
<p class="pb">This feel-good fold elongates the back of your body, lengthens your spine, and stretches your hamstrings.</p>
  </div>

  <div class=" col-lg-6 col-sm-12">

    <img class="ig1" src="assets/images/img-29.webp" alt="">
      <p class="hp "><em>  4. Warrior II( Virabhadrasana II)</em></p>
    <p class="hp "><em>How to do it</em></p>
    <p class="pb">  Stand with feet wide, 3–4 feet apart. Shift your right heel out so your toes are pointing slightly inward. Turn your left foot out 90 degrees. Line up your left heel with the arch of your right foot.
      Bend your left knee to a 90-degree angle, keeping the knee in line with the second toe to protect the knee joint. Stretch through your straight back leg and ground down into the back foot.
      On an inhale, bring arms to a T at shoulder height. Draw your shoulder blades down the back. Spread your fingers and keep palms facedown. Gaze over the front fingers. As you exhale, sink deeper into the stretch.
      Pro tip: To draw your shoulder blades down the back, rotate your palms face-up. Notice how that shifts your shoulders. Once settled, rotate your palms facedown.</p>
    <p class="hp "><em>The benefits</em></p>
    <p class="pb"> BENEFITS OF WARRIOR II
• Strengthens the legs, back, arms and core.
• Opens the hips, hamstrings, and chest.
• Improves body awareness.</p>

  </div>

</div>

<div class=" row3 row">
  <div class=" col-lg-6 col-sm-12">

    <img class="ig1" src="assets/images/img-30.jpg" alt="">
    <p class="hp "><em>5. Tree Pose( Vrksasana )</em></p>
    <p class="hp "><em>How to do it </em></p>
    <p class="pb">  Start in Mountain Pose. Find a fixed point in front of you and stare at it to help you balance.
  As you inhale, shift the weight into your left foot and lift your right foot an inch off the floor. Using your right hand, bring the foot to your shin or inner thigh. Avoid placing your foot directly on the knee.
    As you exhale, ground through the standing leg and lengthen through the crown of your head. Bring your palms to touch in front of your sternum into prayer hands.
  Pro tip: To play with your balance, lift your hands up toward the sky in a V-shape. Take your gaze up toward the ceiling. If you’re an experienced practitioner, you can even try closing your eyes.
</p>
<p class="hp "><em>The benefits </em></p>
<p class="pb">This pose helps improve concentration and your ability to balance by strengthening the arches of the feet and the outer hips.</p>
  </div>

  <div class=" col-lg-6 col-sm-12">

    <img class="ig1" src="assets/images/img-31.jpg" alt="">
      <p class="hp "><em>6. Bridge Pose(Setu Bandha Sarvangasana ) </em></p>
    <p class="hp "><em>How to do it</em></p>
    <p class="pb">This works your lower back, legs, glutes, and core. Lie on your back, arms at your sides, palms down, knees bent, and your heels pulled up close to your rear. Press your hips up until your thighs are parallel to the floor, and bring your hands together beneath you. Think about pushing your knees forward and pulling your pubic bone toward your bellybutton. Lift your chin slightly, slide your shoulder blades down, and widen your collarbones. Hold 30 seconds to 1 minute, then slowly roll your hips back down to the floor.</p>
    <p class="hp "><em>The benefits</em></p>
    <p class="pb">This energizing backbend opens your chest and stretches your neck and spine. It can calm the mind, reduce anxiety, and help improve digestion.</p>

  </div>

</div>


<div class="  row">
  <div class=" col-lg-6 col-sm-12">

    <img class="ig1" src="assets/images/img-40.jpg" alt="">
    <p class="hp "><em>7.Triangle Pose(Trikonasana )</em></p>
    <p class="hp "><em>How to do it </em></p>

    <p class="pb">Stand with feet wide, 3–4 feet apart. Shift your right heel out so your toes are pointing slightly inward. Turn your left foot out 90 degrees. Line up your left heel with the arch of your right foot.

Keeping both legs straight, ground through your feet. Lift arms into a T at shoulder height. Reach forward with your front arm. When you can’t reach anymore, hinge at the front hip.

Bring your front arm down to your shin, a foam block, or the ground. Lift your back arm up toward the sky and spread your fingers. Take your gaze down to the floor or up toward your lifted hand.</p>
<p class="hp "><em>The benefits </em></p>
<p class="pb">While this pose can be challenging for those with tight muscles, it will help promote balance, stretch the hamstrings and inner thighs, and create a feeling of expansion in the body.</p>
  </div>

  <div class=" col-lg-6 col-sm-12">

    <img class="ig1" src="assets/images/img-41.jpg" alt="">
      <p class="hp "><em> 8.Corpse Pose(Savasana) </em></p>
    <p class="hp "><em>How to do it</em></p>
    <p class="pb"> Lie faceup, bringing your legs to the outer edges of your mat, like a starfish. Splay your feet out to the sides. Place arms along sides, palms facing up. Close your eyes and relax. </p>
    <p class="hp "><em>The benefits</em></p>
    <p class="pb"> Yep, it’s as simple as it sounds. Every yoga class includes Savasana, which relaxes the whole body and gives you space to absorb the benefits of the practice.</p>

  </div>

</div>



</div>





  <div class="div-5 container-fluid">

<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>
  </div>



  </body>
</html>
