<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/styles4.css">
</head>

<body>

  <div class=" div-1 container-fluid">
    <h1> yoga journal </h1>
    <p class="pa2"><strong><em>the light in me honors the light in you</em></strong></p>
    <p><strong><em>Namaste</em></strong></p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav offset-md-3">
        <li class="nav-item ">
          <a class="nav-link" href="/HOME"><span>
              <h3>HOME</h3>
            </span> <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/ABOUT_US"><span>
              <h3>ABOUT US</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/HISTORY"><span>
              <h3>HISTORY</h3>
            </span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/POSES"><span>
              <h3>POSES</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/MEDETATION"><span>
              <h3>MEDITATION</h3>
            </span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="/THERAPIES"><span>
              <h3>THERAPIES</h3>
            </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/LIFE_HOPE"><span>
              <h3>LIFE & HOPE</h3>
            </span></a>
        </li>
      </ul>

    </div>
  </nav>
  <div class="container-fluid">
    <hr>
    <h1 class="ha">therapies</h1>
    <p class="pa1">"yoga allows you to discover a sense of wholeness in your life where </p>
    <p class="pa1">you do not feel like you are constantly trying to fix broken pieces together"</p>
    <p class="pa1">-B.K.S IYENGAR</p>
    <hr>

    <div class=" div-2 container-fluid">
      <img src="assets/images/img-11.png" alt="">
    </div>
  </div>

  <div class="div-4 container-fluid">
    <h1 class="ha1">What is yoga therapy?</h1>
    <p class="pa1">Yoga Therapy is physically and emotionally restorative, promoting self-care and encouraging overall well-being. Yoga Therapy is suitable for beginners and advanced yogis alike, as this type of yoga practice uses specific yoga
      practices, and their known benefits, to precisely tailor to an individual’s need.
      Yoga Therapy treats people with health issues. Research provides evidence that it can help alleviate many ailments, including back pain, hypertension, heart conditions, asthma, diabetes and stress. This type of yoga uses gentle exercises,
      meditation, relaxation and breathing techniques to help restore physical and emotional equilibrium. </p>

      <h1 class="ha1">yoga therapy is used to treat:</h1>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <h1 class="ha">Mental Health Conditions</h1>
          <p class="pa1">Stress,Depression,Anxiety,PTSD ,Schizophrenia,ADHD,Eating Disorders,Addiction,Autism,Post-Natal Depression.</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h1 class="ha">Physical Conditions</h1>
                <p class="pa1">Back Pain,Musculaskeletal problems,Diabetes,High Blood Pressure,Parkinson’s,Asthma,COPD,Cancer,HIV,Alzheimer’s,Brain Injury,Mltiple Sclerosis,Autoimmune Diseases,IBS,Obesity,Heart Disease,Insomnia,Arthritis,Osteoporosis.</p>
        </div>
      </div>


  </div>


  <hr>
  <div class="container-fluid">
    <p class="hc "><em>types</em></p>
  </div>
  <hr>
  </div>


  <div class=" div-2 row">
    <div class=" col-lg-6 col-sm-12">
      <img class="ig1" src="assets/images/img-12.jpg" alt="">
      <p class="hp "><em> 1.Anusara Yoga Therapy</em></p>
      <p class="pb">Anusara Yoga means “going with the flow.” It is a type of yoga therapy which gives importance to the principle of universal alignment. Anusara Yoga comprises about 250 asanas, though they all cannot be practiced religiously daily.
        Anusara Yoga Therapy is a complete blend of breathing, postures, and wisdom. After you perform this yoga, you will feel energized and more relaxed. It is great for your lungs, increases flexibility, improves physical strength and mental
        stability.</p>
    </div>

    <div class=" col-lg-6 col-sm-12">
      <img class="ig1" src="assets/images/img-13.jpg" alt="">
      <p class="hp "><em> 2.Phoenix Rising Yoga Therapy</em></p>
      <p class="pb">Pheonix Yoga Therapy does not deal with curing a particular type of ailment. Instead, it takes into account what the clients need, i.e., whether he wants to work on mental stability or physical fitness. In Pheonix Yoga Therapy
        instructor focus on assisted yoga poses, body psychology, breathing techniques and proper body mechanics. It helps you in stress management, healing trauma, overcoming relationship issues, dealing with menopause, cancer healing and aging.</p>
    </div>

  </div>

  <div class=" div-2 row">
    <div class=" col-lg-6 col-sm-12">
      <img class="ig1" src="assets/images/img-14.jpg" alt="">
      <p class="hp "><em>3.Kripalu Yoga Therapy </em></p>
      <p class="pb">Kripalu Yoga therapy is an interrogative form of yoga therapy which involves active and critical thinking. It creates a sense of self-awareness, promotes personal development, teaches you to reason every action of yours, helps you
        to acknowledge your capabilities and take your own decisions by being independent, allows you to feel the connection between your body and the supreme power of the universe.</p>
    </div>

    <div class=" col-lg-6 col-sm-12">
      <img class="ig1" src="assets/images/img-15.png" alt="">
      <p class="hp "><em> 4.Forest Therapy</em></p>
      <p class="pb">Forest therapy supports healing as neture is the ultimate healer .A walk in the woods, away from technological gadgets, feeling the belongingness of nature by staying in the present moment, helps you to relieve stress, worries,
        tension and boosts well being. It declutters negative thoughts from your mind and promotes realistic and positive thoughts. It increases the level of awareness, inner balance, and wholeness.</p>
    </div>

  </div>

  <div class=" div-2 row">
    <div class=" col-lg-6 col-sm-12">
      <img class="ig1" src="assets/images/img-16.jpg" alt="">
      <p class="hp "><em>5.Integrative Yoga Therapy</em></p>
      <p class="pb">Integrative Yoga Therapy is a process of healing by creating good health by practicing yoga postures in combination with meditation process to cure chronic ailments such as back pain, sleeping disorder, excessive stress, going
        through a life change, Post Traumatic Stress Disorder or body image issues. Integrated Yoga Therapy will make you experience refreshed and relaxed.</p>
    </div>

    <div class=" col-lg-6 col-sm-12">
      <img class="ig1" src="assets/images/img-17.jpg" alt="">
      <p class="hp "><em>6. Structural Yoga Therapy </em></p>
      <p class="pb">Structural Yoga Therapy deals with knowing the overall health of the client, his ailments, lifestyle, and personality. Thus, providing a complete 8 limbed package of yoga postures for reducing stress, emotional breakdown, and
        client’s reformation. With practice and patience, one can overcome pain which helps you to lead a balanced, healthy and stressfree life.</p>
    </div>

  </div>

  <div class="div-5 container-fluid">
<a class="glow" href="/sign_up"> <em>SIGN UP</em></a>

  </div>

</body>

</html>
