body {
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 9rem;
}

p {
  font-family: 'Cormorant Infant', serif;
  font-size: 2rem;
}

.pa2 {
  margin-bottom: 0;
}

.div-1 {
  margin: 0;
  background-color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Libre Baskerville', serif;
}

.div-2 {
  margin: 0;
  background-color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;

}

.hb {
  font-size: 5rem;
  font-family: 'Slabo 27px', serif;
}

.pa1 {
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 0;
}

.pa {
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
}

.div-3 {
  background-color: #fff;
}

.hc {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Libre Baskerville', serif;
}
hr{
   border-top: 1px solid black;
   width:100rem;
}
.row-1{
  margin-top: 10rem;
  margin-bottom: 5rem;
  }

.row-2{
  margin-bottom: 5rem;
}

.im-1{
  margin-left: 10rem;
  height: 90%;
  width: 85%;
}
.pb{
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  margin-top: 5rem;
  margin-bottom: 0;
}
.a2:hover{color: gray;}
.a2{background-color: #f1f3f8;}
.a2{
  color: black;
  margin-left: 10rem;
  font-size: 3.5rem;
  font-family: 'Libre Baskerville', serif;
}
.div-4{
  height: 16rem;
  background-color: black;
  text-align: center;
}
.im-2{
  margin-left: 10rem;
  height: 95%;
  width: 85%;
}
.a3:hover{color: gray;}
.a3{background-color: #f1f3f8;}
.a3{
  color: black;
  margin-left: 15rem;
  font-size: 3.5rem;
  font-family: 'Libre Baskerville', serif;
}

.d:hover{box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  opacity: 0.5;
  background-color: black;
}
.d{
  border: 1px solid #ddd;
  width: 75%;
  height:80%;
    padding: 5px;
    margin-left: 8rem;
  }


.hd{
margin-left: 8rem;
  font-size: 3.5rem;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 5rem;
}

.pp{
  color: #fff;
  font-size: 3rem;
}




..glow1:hover{color:#d789d7; }
.glow1{
  font-size: 30px;
  color:#fff;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}





.glow:hover{color:#d789d7; }
.glow {
  font-size: 60px;
  color:#fff;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}







/************************************************************popup**************************************************/
